
<!-- editBook.html -->

<html> <head></head> <body>
    <h1>Edit Book</h1>
        Name:
        <form action="{{url_for('modifyDict', book_id = book_id, book_name = book_name)}}" method = 'POST'>
            <input type='text' size='30' name='name' placeholder = '{{book_name}}'>
            <input type='submit' value='Submit'>
            <a href="{{url_for('editBook', book_id = book_id, book_name = book_name)}}"> Cancel </a> <br/>
        </form>
    </body>
</html>