<!-- newBook.html 

<html> <head></head> <body>
    <h1>New Book</h1>
       <p> Are you sure you want to delete {{book_name}} ?</p>
       <form action="{{url_for('deleteEntry', book_id = book_id, book_name = book_name)}}" method = 'POST'>
        <input type='submit' value='Delete'>
        <a href="{{url_for('showBook')}}"> Cancel </a> <br/>
    </form>
    </body>
</html> -->